body{
    margin: 50px 100px 0 100px;
    background: linear-gradient(0.25turn, #1c3755, #396ea4);
}
input{
    height: 50px; width: 100%;
    font-size: 40px;
    background-color: #edf2f4;
    /* border-color: linear-gradient(0.25turn, #1c3755, #396ea4); */
}
input:hover{
    border-style: none;
}